ul
{
	display:inline;
	list-style-type:none;
	margin-left:0;
	padding:0;
	overflow:hidden;
}
li
{
	display:inline;
}
p {text-indent:34px;}
body
{
	margin: 0;
	background: #EFEFEF;
}
.bodyhead
{
	background: #ADD8E6;
    margin-top: -21px;
   /* margin-bottom: -20px;*/
}
.block
{
	box-shadow: 1px 1px 2px 1px #848484;
    margin: 20px;
    padding: 20px;
    background: white;
}
.block h3
{
    border-left: 3px solid #CCCCCC;
    line-height: 40px;
    margin: 0;
}
.form
{
	line-height: 2;
	/*text-align: center;*/

}
.form .tip
{
	width: 35%;
	/*必须加上float才生效*/
    float: left;
    text-align: right;
}
.form .button
{
	width: 100%;
    border-radius: 8px;
    border: none;
    line-height: 3;
    color: white;
    background: lightblue;
}
.form .button:hover
{
	background: blue;
}
.nav
{
	position: absolute;
    right: 0px;
    top: 10px;
}
.table
{
	width:100%;
	text-align: left;
	border: 1px solid grey;
	border-collapse: collapse;
}
.col
{
	border: 1px solid grey;
}
.headcol
{
	background: #7B8071;
    color: white;
    border: 1px solid white;
}