.command{
	width: 500px;
	
	background: gray;
}

.plant{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	height: 100px;
	width: 100px;
	background: green;
	border-radius: 50px;
}

.orbit1{
	height: 200px;
	width: 200px;
	margin: -51px 0 0 -51px;
	border: 2px black solid;
	border-radius: 100px;
	position: fixed;
}

.orbit2{
	height: 300px;
	width: 300px;
	margin: -101px 0 0 -101px;
	border: 2px black solid;
	border-radius: 150px;
	position: fixed;
}

.orbit3{
	height: 400px;
	width: 400px;
	margin: -151px 0 0 -151px;
	border: 2px black solid;
	border-radius: 200px;
	position: fixed;
}
.orbit4{
	height: 500px;
	width: 500px;
	margin: -201px 0 0 -201px;
	border: 2px black solid;
	border-radius: 250px;
	position: fixed;
}

.plane1 {
  height: 20px;
  width: 50px;
  background: blue;
  position: fixed;
  margin: -60px 25px;
  transform-origin: center 110px;
}

.plane2 {
  height: 20px;
  width: 50px;
  background: blue;
  position: fixed;
  margin: -110px 25px;
  transform-origin: center 160px;
}

.plane3 {
  height: 20px;
  width: 50px;
  background: blue;
  position: fixed;
  margin: -160px 25px;
  transform-origin: center 210px;
}

.plane4 {
  height: 20px;
  width: 50px;
  background: blue;
  position: fixed;
  margin: -210px 25px;
  transform-origin: center 260px;
}

/** 控制台整体 */
#console {
    background-color: rgba(150, 150, 150, 0.3);
    width: 500px;
    height: 200px;
    position: fixed;
    z-index: 100;
}

/** 控制台标题和操作面板标题 */
#console-title, #control-title {
    color: white;
    background-color: blue;
    padding: 5px;
    width: 490px;
    height: 20px;
    cursor: move;
}

/** 控制台文本区 */
#console-text {
    overflow: auto;
    color: white;
    padding: 5px;
    width: 490px;
    height: 160px;
}

/** 控制台输出内容 */
#console-text p {
    padding: 0;
    margin: 0 0 0 20px;
    text-indent: -20px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}