<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="node_modules/vue/dist/vue.min.js"></script>
	<style type="text/css">
		li{
			list-style-type:none
		}
		.completed{
			color: #d9d9d9;
    		text-decoration: line-through;
		}
		.todo-list li .edit{
			display: none;
		}
		.todo-list li.editing .edit{
			display: block;
			margin: 0 0 0 10px;
		}
		.todo-list li.editing .view{
			display: none;
		}
	</style>
</head>
<body>
	<div id="app">
  		<p>{{ message }}</p>
  		<input v-model="message">
	</div>

	<div id="list">
		<li v-for="todo in todos">
			{{todo.text}}
		</li>
	</div>

	<div id="click">
		<p>{{message}}</p>
		<button v-on:click="clickButton">change</button>
	</div>

	<div id="todo" class="todo-list">
		<input v-model="newTodo" v-on:keyup.enter="addTodo" >
		<ul>
			<li v-for="todo in todos "
				:class="{completed:todo.completed, editing: todo.editing}">
				<div class="view" v-show="todo.show">
				<input type="checkbox" v-model="todo.completed">
				<label @dblclick="edittodo(todo)">{{ todo.text}}</label>
				<button v-on:click="remove(todo)">X</button>
				</div>
				<input type="text" class="edit" v-model="todo.text"
					@blur="doneEdit(todo)"
					@keyup.enter="doneEdit(todo)"
					@keyup.esc="cancelEdit(todo)">
			</li>
		</ul>
		<div v-show="todos.length">
			<button @click ="AllTodo()">all</button>
			<button @click="activeTodo()">active</button>
			<button @click="completedTodo()">completed</button>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>

	<script type="text/x-template" id="grid-list">
		<form>
			Search<input type="text" v-model="searchQuery">
		</form>
		<p>{{searchQuery}}</p>
		<br>
		<table>
			<tr>
				<th v-for="type in Columns" 
				@click="sortQuery=type">{{type}}</th>
			</tr>
			<tr v-for="line in Data
				|filterBy searchQuery
				|orderBy sortQuery">
				<td v-for="type in line">{{type}}</td>
			</tr>
		</table>
	</script>

	<div id="grid">
		<grid-list 
		:searchQuery="searchQuery"
		:sortQuery="sortQuery"
		:Columns="gridColumns"
		:Data="gridData">
			
		</grid-list>

	</div>

	<script src="src/main.js"></script>
</body>
</html>