<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="node_modules/vue/dist/vue.min.js"></script>
	<style type="text/css">
		.completed{
			color: #d9d9d9;
    		text-decoration: line-through;
		}
	</style>
</head>
<body>
	<div id="app">
  		<p>{{ message }}</p>
  		<input v-model="message">
	</div>

	<div id="list">
		<li v-for="todo in todos">
			{{todo.text}}
		</li>
	</div>

	<div id="click">
		<p>{{message}}</p>
		<button v-on:click="clickButton">change</button>
	</div>

	<div id="todo">
		<input v-model="newTodo" v-on:keyup.enter="addTodo" >
		<ul>
			<li v-for="todo in todos "
				:class="{completed:todo.completed}">
				<input type="checkbox" v-model="todo.completed">
				<span>{{ todo.text}}</span>
				<button v-on:click="remove(todo)">X</button>
			</li>
		</ul>
	</div>

	<script src="src/main.js"></script>
</body>
</html>