html body .gallery{
	height: 100%;
}

.galleryItem{
	width: 100%;
}
.galleryColumn{
	display: inline-block;
	vertical-align: top;
	padding: 0 8px;
	box-sizing: border-box;
}
.galleryPhoto{
	width: 100%;
}