.gallery-item {
  float: left;
  background-size: cover;
  background-position: center;

}
html, body, .gallery {
  height: 100%;
}

#gallery-2 .gallery-item {
  position: absolute;
}

#gallery-2 .gallery-item:last-child {
  right: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: url(../clip.svg#trapezoid);
}
